.home {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__section {
    margin: 0 auto;
    max-width: 980px;
    padding: 22px;

    text-align: center;

    p{
      font-size: 1.4rem;
    }
  }
}
